# Ignora tutte le cartelle target (sia di backend che frontend)
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Non ignorare i wrapper di Maven
!.mvn/wrapper/maven-wrapper.jar

# Ignora IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Ignora NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignora VS Code
.vscode/

# Frontend (React.js)
frontend/presto-reservation/README.md
frontend/presto-reservation/node_modules/
frontend/presto-reservation/.pnp
frontend/presto-reservation/.pnp.js
frontend/presto-reservation/coverage/
frontend/presto-reservation/build/
frontend/presto-reservation/.DS_Store
frontend/presto-reservation/.env.local
frontend/presto-reservation/.env.development.local
frontend/presto-reservation/.env.test.local
frontend/presto-reservation/.env.production.local
frontend/presto-reservation/npm-debug.log*
frontend/presto-reservation/yarn-debug.log*
frontend/presto-reservation/yarn-error.log*

# Altri file temporanei
*.log
.DS_Store
*.swp
*.swo